body{
    margin: 0;
    background-color: #056679;
}
.todo-container{
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    margin: 0;
    margin-bottom: 15px;
    color: #ababab;

}
.input-section{
    background-color: #ececec;
    padding: 18px;
    border-radius: 10px;
}
.input-section input{
    border-radius: 5px;
    border: 1px solid rgb(226,226,226);
    width:100%;
    padding: 10px;
    box-sizing: border-box;
}
.input::placeholder{
    color: silver;
}
ul{
    background-color: black;
color: grey;
padding: 0;
/* display: flex; */

padding: 0;

}
ul li {
    list-style: none;
    display: flex;
    background-color: rgb(21, 24, 24);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: aqua;
    box-shadow: 0 4px black;
}
ul li i {
    text-align: right;
    flex:1;
    cursor: pointer;
}